<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Підтверджено!</title>
</head>
<style>
    @import url(https://fonts.googleapis.com/css?family=Sigmar+One);

    h1 {
        transform-origin: 50% 50%;
        font-size: 25px;
        font-family: 'Sigmar One', cursive;
        cursor: pointer;
        z-index: 2;
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
    }

</style>
<body>
    <div>
        <h1>Ваш аккаунт підтверджений!</h1>
        <p><a href="http://{{ domain }}{% url 'swagger-ui' %}"></a></p>
    </div>
    <img src="https://bit.ly/20qKWK0" style="display:none">

</body>
</html>